<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/cadastro/clientes" method="post">

    <label for="name">Nome</label>
    <input type="text" placeholder="nome" name="name">

    <label for="passWord">Senha</label>
    <input type="text" name="passWord" id="senha">
    <button type="submit"> cadastrar</button>

</form>


</body>
</html>