<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div id="corpo" style="background-color: black; ">
    <h1 style="margin-left: 100px; color: rgb(255, 255, 255); margin-left: 150px; margin-top: 20px; margin-bottom: 30px;">cadastrar</h1>
    <%- include("partials/header.ejs") %>
    </div> 
    
<form action="/cadastro/clientes" method="post" style=" font-size: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <label for="name">Nome</label>
    <input type="text" placeholder="nome" name="name" >

    <label for="email">email</label>
    <input type="text" placeholder="email" name="email">

    <label for="password">Senha</label>
    <input type="text" placeholder="crie uma senha" name="password" id="senha">
    <button style="padding: 10px 20px; margin-top: 2%;" type="submit"> cadastrar</button>

</form>


</body>
</html>