<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    
    
<form action="/cadastro/clientes" method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <label for="name">Nome</label>
    <input type="text" placeholder="nome" name="name">

    <label for="password">Senha</label>
    <input type="text" name="password" id="senha">
    <button type="submit"> cadastrar</button>

</form>


</body>
</html>