<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div style="background-color: black; color: aliceblue;">
    <h1 style="margin-left: 450px;">editar</h1>
    <%- include("partials/header.ejs") %>
    </div>

      
<form action="/edit" method="post" style=" font-size: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <label for="name">Nome</label>
    <input type="text" placeholder="nome" name="name" value="<%= user.name %>" >

    <label for="email">email</label>
    <input type="text" placeholder="email" name="email" value="<%= user.name %>">

    <button style="margin-top: 2%; padding: 10px 20px; " type="submit"> editar</button>

</form>

    
</body>
</html>