<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title><%= title %></title>
</head>
<body>

    <div style="background-color: black;">
        <h1 style="color: rgb(255, 255, 255); margin-left: 150px;" >lista de cadastros</h1>
        <%- include("partials/header.ejs") %>
        
    </div>
   
<p>listas</p>
<br>
 
<% users.forEach( itens =>{  %> 
      
<ul>
    <li style="display: flex;">
        <%= itens.name%> <a href="/edit?id=<%= itens.id%>" ><ul>editar</ul></a>   <ul style="cursor: pointer;" id="excluir">excluir</ul>
    </li>
</ul>

<% }) %>
<main>
<div id="alerta">
    <p id="sim">nao</p>
    <p id="nao">sim</p>
</div>
</main>
<script src="/main.js"></script>

</body>
</html>