<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <div style="background-color: black;">
        <h1 style="color: rgb(255, 255, 255); margin-left: 150px;" >lista de cadastros</h1>
        <%- include("partials/header.ejs") %>
        
    </div>
   
<p>listas</p>
<br>
 
<% users.forEach( itens =>{  %> 
      
<ul>
    <li>
        <%= itens.name%> <a href="/edit?id=<%= itens.id%>" ><ul>editar</ul></a>
    </li>
</ul>


<% }) %>

</body>
</html>