<header style="height: 10vw; width: 100v; background-color: black; font: size 30px;; color: aliceblue;">


    
<div style="font-size: 20px; color: rgb(255, 255, 255); display: flex; margin-left: 20px;">
   
    <p><a style="text-decoration: none; color: beige; " href="/">inicio</a></p>
    <p><a style="text-decoration: none; margin-left: 30px; color: beige" href="/cadastro"> seus dados aqui</a></p>
    <p><a style="text-decoration: none; margin-left: 30px; color: beige" href="/listar">lista de cadastros</a></p>
    <p><a style="text-decoration: none; margin-left: 30px; color: beige" href="/edit">editar cadastros</a></p>
   
</div>
</header>