<header style="height: 10vw; width: 100v; background-color: black; font: size 30px;; color: aliceblue;">


    <h1> Bem vindo</h1>
<div style="font-size: 20px; color: bisque; display: flex; margin-left: 20px;">
   
    <p><a style="text-decoration: none; " href="/">inicio</a></p>
    <p><a style="text-decoration: none; margin-left: 30px" href="/cadastro"> seus dados aqui</a></p>
    <p><a style="text-decoration: none; margin-left: 30px" href="/listar">lista de cadastros</a></p>
    
</div>
</header>